{% load static %}
<div class="weui-cells" style="margin-top: 0px;">
    {% for plan in plans %}
    <div class="weui-cell">
        <div class="weui-cell__hd"><span class="weui-badge badge badge-bgcolor" >{{forloop.counter}}</span></div>
        <div class="weui-cell__bd"><p>{{plan.title}}</p></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd"><p class="claim_content">{{plan.content|safe}}</p></div>
    </div>
    {% endfor %}
</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd" style="font-size: 15px;">
            <p>更多详情请阅读<a href="{% url 'foster-tbxz'%}"><<投保须知>></a>和<a href="{% url 'foster-bxtk'%}"><<保险条款>></a></p>
        </div>
    </div>
