@font-face {
    font-family: tianquan;
    src: url('./tiantianquan.ttf');
}

*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
	color:#333;
	font-style: normal;
	box-sizing:border-box;
}
html,body{
	width:100%;
    background-color: #fccf5c;
}

.show{
	display: block;
}
.hide{
	display: none;
}

.cardBg{
    background-color: #fccf5c;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url('../images/card_bg.png') no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.card_middle{
    width: 80%;
    height: 70%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.card_hd{
    background: url('../images/card_title.png') no-repeat;
    max-width:297px;
    max-height: 147px;
    line-height: 147px;
    margin: 0 auto;
    font-size: 1.5625em;
    text-align: center;
    font-family: tianquan;
}
.card_bd{
    background-color: transparent;
    margin-top:10px;
}
.card_bd:before{
    border: 0px;
}
.card_bd:after{
    border: 0px;
}
.card_item{
    margin-bottom: 10px;
    padding-left: 30px;
    width:100%;
    min-height: 45px;
    background: transparent  url("../images/card_item.png") no-repeat;
    background-position: center center;
    background-size:100% 99%;
    -webkit-background-size: 100% 99%;
    -moz-background-size: 100% 99%;
    font-family: tianquan;
}
.card_item:active{
     background-color: transparent;
}
.card_item:before{
    border: 0px;
}
