<a href="{% url 'dog-index' %}" class="weui-tabbar__item">
        <div class="weui-tabbar__icon"><i class="icon iconfont icon-shouye2" ></i></div>
        <p class="weui-tabbar__label">首页</p>
    </a>
 <a href="https://weidian.com/?userid=408882159&share_id=408882159&wfr=wx&ifr=shopdetail&code=021xPwYe0TntQz1gCc0f0eZuYe0xPwYb&state=H5WXshare" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
          <i class="icon iconfont icon-buy5"></i>
        </div>
        <p class="weui-tabbar__label">微店</p>
 </a>
<a href="javascript:void(0);" class="weui-tabbar__item" onclick="gotome();">
    <div class="weui-tabbar__icon"><i class="icon iconfont icon-wo2" ></i></div>
    <p class="weui-tabbar__label">我的</p>
</a>
<script>
     function gotome(){
        sessionStorage.setItem('index',2);
        window.location.href = "{% url 'dog-index' %}";

    }
</script>