{% extends 'wxchat/wxbase.html' %}{% load static %}{% load thumbnail %}
{% block container %}
<div class="weui-tab" id="tab">
    <div class="weui-tab__panel">
      <div class="weui-panel weui-panel_access">
       <div class="weui-panel__hd">
            <div class="weui-flex">
                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
                <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">{{ agreement.title }}</span></div>
                <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
            </div>
       </div>
        <div class="weui-panel__bd">
            <article class="weui-article">
               <section>
                {{ agreement.content|safe }}
               </section>
           </article>
        </div>
      </div>
    </div>
    <div class="weui-tabbar">
         <a href="{% url 'foster-pet-list' %}" class="weui-tabbar__item tabbar_item ">
            <p class="weui-tabbar__label bg_red" style="font-size:18px;"><i class="icon iconfont icon-buy2" ></i> 下一步</p>
        </a>
    </div>
</div>

{% endblock container %}