{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block extra %}
{% include 'shopping/include/jssdk.html' %}
<script>
 wx.ready(function () {

    $("#dog_walk").on('click',function(){
         wx.openLocation({
          latitude: 40.7094,
          longitude: 120.765,
          name: '宠物乐园',
          address: '东砬村(葫芦岛市龙港区双树乡东砬村)',
          scale: 13,
          infoUrl: ''
        });
    });

});
</script>
{% endblock extra %}
{% block container %}
<div class="weui-panel">
    <div class="weui-panel__hd header_bottom">
         <div class="weui-flex">
            <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">联系我们</span></div>
            <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
        </div>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-cells weui-cells_form cells_top" id="uploader">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">联系电话:</label></div>
                <div class="weui-cell__bd">18504296000</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">联系电话:</label></div>
                <div class="weui-cell__bd">18104299771</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">地理位置:</label></div>
                <div class="weui-cell__bd"><a id="dog_walk" class="weui-btn weui-btn_mini weui-btn_plain-primary">点击查看</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock container %}


