{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block extra %}
<script type="application/javascript">
 window.history.forward(1);
</script>
{% endblock extra%}
{% block container %}
 <div class="weui-panel">
    <div class="weui-panel__hd header_bottom">
         <div class="weui-flex">
            <div><a href="javascript:window.history.back(-1)"><i class="fa fa-angle-left fa-2x gray " ></i></a></div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">宠物领养登记表</span></div>
            <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="fa fa-home fa-2x pink r" ></i></a></div>
        </div>
    </div>
    <div class="weui-panel__bd">
        <form action="" method="post" enctype="multipart/form-data" onsubmit="showing()">{% csrf_token %}
        <div class="weui-cells weui-cells_form cells_top" id="uploader">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">{{ form.name.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.name }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">{{ form.record.label }}:</label>
                </div>
                <div class="weui-cell__bd">
                      {{ form.record }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{ form.requirement.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.requirement }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{ form.telephone.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.telephone }}
                </div>
            </div>
            <div class="weui-btn-area">
                <button type="submit" name="submit" class="weui-btn weui-btn_primary" >提交</button>
            </div>
        </div>
        </form>
    </div>
 </div>

{% endblock container %}

