{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block container %}
 <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">
         <div class="weui-flex">
            <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">宠物领养详情介绍</span></div>
            <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
        </div>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-form-preview">
           <div class="weui-form-preview__hd">
               <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">领养人:</label>
                   <span class="weui-form-preview__value"> {{ object.name }}</span>
               </div>
           </div>
           <div class="weui-form-preview__bd">
               <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">饲养记录:</label>
                   <span class="weui-form-preview__value">{{ object.record }}</span>
               </div>
               <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">对宠物要求:</label>
                   <span class="weui-form-preview__value">{{ object.requirement }}</span>
               </div>
                <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">联系电话:</label>
                   <span class="weui-form-preview__value">{{ object.telephone }}</span>
               </div>
           </div>
        </div>
    </div>
 </div>

{% endblock container %}

