{% extends 'wxchat/wxbase.html' %}{% load static %}

{% block tabpanel %}
{#        <div class="weui-flex" >#}
{#            <div class="weui-flex__item" style="text-align: center;padding-top: 10px;"><a href="{% url 'dog-adopt-add' %}?next={{ request.get_full_path }}" class="weui-btn weui-btn_mini weui-btn_plain-primary">领养发布</a></div>#}
{#            <div class="weui-flex__item" style="text-align: center;padding-top: 10px;"><a href="{% url 'dog-delivery-add' %}?next={{ request.get_full_path }}" class="weui-btn weui-btn_mini weui-btn_plain-primary" >送养发布</a></div>#}
{#        </div>#}
        <div class="weui-tab__content" id="tab1">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                     <div class="weui-flex">
                            <div class="weui-flex__item"><span class="title">宠物领养列表<span></div>
                            <div class="weui-flex__item"></div>
                            <div class="weui-flex__item"><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="fa fa-home fa-2x pink r" ></i></a></div>
                     </div>
                </div>
                <div class="weui-panel__bd" id="dogadopt"></div>
                <div class="weui-panel__ft">
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" id="doglossmore" style="display: none">
                        <div class="weui-cell__bd">查看更多</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="weui-tab__content" id="tab2">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                    <div class="weui-flex">
                            <div class="weui-flex__item"><span class="title">宠物送养列表</span></div>
                    </div>
                </div>
                <div class="weui-panel__bd" id="dogdelivery"></div>
                <div class="weui-panel__ft" >
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" id="dogdeliverymore" style="display: none">
                        <div class="weui-cell__bd">查看更多</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
        </div>
{% endblock tabpanel %}
 {% block tabbar %}
        <a href="#tab1" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">'
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <p class="weui-tabbar__label">宠物领养</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-twitter" aria-hidden="true"></i>>
            </div>
            <p class="weui-tabbar__label">宠物送养</p>
        </a>

{% endblock tabbar %}
{% block bottomjs %}
    {{ block.super }}
    <script type="application/javascript">
     nextUrl = '{% url 'dog-adopt-list' %}';
     dogdeliveryUrl = '{% url 'dog-delivery-list' %}';
     var loading = weui.loading('加载中...');
     ///缓存滚动条位置
     $('.weui-tab__panel').scroll(function(){
            if($(this).scrollTop() !=0 ){
                sessionStorage.setItem('offsetTop',$(this).scrollTop());
            }
    });

    $(function(){

        defIndex = sessionStorage.getItem('tab');
        console.log('defindex='+ defIndex);
        weui.tab('#tab',{
            defaultIndex: defIndex ==null?0:defIndex,
            onChange: function(index){
                sessionStorage.setItem('tab',index);
            }
        });


        $('#dogadoptmore').on('click',function(){
            getDataList( nextUrl );
        });

        $('#dogdeliverymore').on('click',function(){
            getdeliveryList( dogdeliveryUrl );
        });
        getDataList( nextUrl );
        getdeliveryList(dogdeliveryUrl);

    });
    function getDataList(url){
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'json',
          timeout: 5000,
          context: $('#dogadopt'),
          success: function(data){
              nextUrl = data.next;
              appendItem(data.results);
              if(nextUrl == null)
                $('#doglossmore').css('display','none');
              else
                 $('#doglossmore').css('display','');
              loading.hide();
              setScollPos();
          },
          error: function(xhr, type,error){
              console.log(type);
              loading.hide();
          }
        });
    }

    function appendItem(results){
        $.each(results,function(index,item){
            var img_url = item.picture;
            if(img_url == null){
                img_url = "{% static 'wxchat/images/default_dog.png' %}";
            }
          lossitem =  '<a href="/wechat/dogadoptdetail/' + item.id + '" class="weui-media-box weui-media-box_appmsg">' +

                            '<div class="weui-media-box__bd">' +
                               '<h4 class="weui-media-box__title">'+ item.name +'</h4>' +
                               '<ul class="weui-media-box__info">' +
								  '<li class="weui-media-box__info__meta">' + item.record + '</li>' +
                                '</ul>' +
                             '</div>' +
                        '</a>';
            $('#dogadopt').append( lossitem );
        }) ;
    }

    function getdeliveryList(url){
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'json',
          timeout: 5000,
          context: $('#dogdelivery'),
          success: function(data){
              dogdeliveryUrl = data.next;
              appenddeliveryItem(data.results);
              if(dogdeliveryUrl == null)
                $('#dogdeliverymore').css('display','none');
              else
                 $('#dogdeliverymore').css('display','');
              loading.hide();
              setScollPos();
          },
          error: function(xhr, type,error){
              console.log(type);
          }
        });
    }

    function appenddeliveryItem(results){
        $.each(results,function(index,item){
            var img_url = item.picture;
            if(img_url == null){
                img_url = "{% static 'wxchat/images/default_dog.png' %}";
            }
          lossitem =  '<a  href="/wechat/dogdeliverydetail/' + item.id + '" class="weui-media-box weui-media-box_appmsg">' +
                            '<div class="weui-media-box__hd"><img class="weui-media-box__thumb" src="' + img_url + '" ></div>'+
                            '<div class="weui-media-box__bd">' +
                               '<h4 class="weui-media-box__title">品种:'+ item.typeid +'</h4>' +
                               '<ul class="weui-media-box__info">' +
								  '<li class="weui-media-box__info__meta">特征:' + item.desc + '</li>' +
								'</ul>' +
                             '</div>' +
                        '</a>';
            $('#dogdelivery').append( lossitem );
        }) ;
    }
    ////设置滚动条位置
    function setScollPos(){
        var _offset = sessionStorage.getItem("offsetTop");//获取滚动位置
        $('.weui-tab__panel').scrollTop(_offset);
    }
    </script>
{% endblock bottomjs %}
