{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block container %}
<div class="weui-panel weui-panel_access bgcolor" >
    <div class="middle">
        <div class="height10" ></div>
        <div class="height15" ><h2>发布选择</h2></div>
        <div class="height20">
            <a href="{% url 'dog-adopt-add' %}?next={{ next }}" ><img  src="{% static 'wxchat/images/find_pet.png' %}"></a>
        </div>
        <div class="height15">
        </div>
         <div class="height20">
            <a href="{% url 'dog-delivery-add' %}?next={{ next }}" ><img src="{% static 'wxchat/images/find_owner.png' %}"></a>
        </div>
         <div class="height20">
        </div>
    </div>
</div>

{% endblock container %}

