{% extends 'wxchat/wxbase.html' %}{% load static %}{% load thumbnail %}
{% block container %}
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">
        <div class="weui-flex">
            <div><a href="javascript:window.history.back(-1)"><i class="fa fa-angle-left fa-2x gray " ></i></a></div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">宠物求购详情</span></div>
            <div ><a href="{% url 'dog-index' %}"><i class="fa fa-home fa-2x pink r" ></i></a></div>
        </div>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">宠物品种:</label>
                    <span class="weui-form-preview__value">{{ object.typeid }}</span>
                </div>
                <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">宠物年龄:</label>
                   <span class="weui-form-preview__value">{{ object.ages }}</span>
               </div>
                <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">宠物性别:</label>
                   <span class="weui-form-preview__value">{{ object.sex }}</span>
               </div>
               <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">价格区间:</label>
                   <span class="weui-form-preview__value">{{ object.price }}</span>
               </div>
                <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">求购人:</label>
                   <span class="weui-form-preview__value">{{ object.buyname }}</span>
               </div>
                <div class="weui-form-preview__item">
                   <label class="weui-form-preview__label">联系电话:</label>
                   <span class="weui-form-preview__value">{{ object.telephone }}</span>
               </div>
           </div>
    </div>
    </div>
</div>

{% endblock container %}

