{% extends 'wxchat/wxbase.html' %}{% load static %}

{% block tabpanel %}
        <div class="weui-tab__content" id="tab1">
            <div class="weui-panel weui-panel_access">
                <div class="swiper-container">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="weui-grids">
                  <a href="{% url 'dog-loss' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-wangyuanjing2"></i>
                    </div>
                    <p class="weui-grid__label">寻找宠物</p>
                  </a>
                  <a href="{% url 'dog-breed' %}" class="weui-grid">
                    <div class="weui-grid__icon">
{#                      <i class="icon iconfont icon-hunyinlianai"></i></i>#}
                      <i class="icon iconfont icon-hunyin"></i>
                    </div>
                    <p class="weui-grid__label">宠物相亲</p>
                  </a>
                  <a href="{% url 'dog-adoption' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-lingyang1"></i>
                    </div>
                    <p class="weui-grid__label">领养宠物</p>
                  </a>
                  <a href="{% url 'dog-trade' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-jiaoyi4" ></i>
                    </div>
                    <p class="weui-grid__label">宠物交易</p>
                  </a>
                  <a href="#" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-peoples2"></i>
                    </div>
                    <p class="weui-grid__label">宠物共享</p>
                  </a>
                  <a href="{% url 'dog-adoption' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-ertongleyuan2"></i>
                    </div>
                    <p class="weui-grid__label">乐园服务</p>
                  </a>
                  <a href="{% url 'dog-institution' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                     <i class="icon iconfont icon-yiliaojigou2"></i>
                    </div>
                    <p class="weui-grid__label">宠物机构</p>
                  </a>
                  <a href="#" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-chongwu3"></i>
                    </div>
                    <p class="weui-grid__label">狗粮定制</p>
                  </a>
                  <a href="{% url 'fresh-man' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-class" aria-hidden="true"></i>
                    </div>
                    <p class="weui-grid__label">新手课堂</p>
                  </a>
                </div>
            </div>
        </div>
        <div class="weui-tab__content" id="tab2">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd"></div>
                <div class="weui-panel__bd" ></div>
                <div class="weui-panel__ft" ></div>
            </div>
        </div>
{#        <div class="weui-tab__content" id="tab3">#}
{#            <div class="weui-panel weui-panel_access">#}
{#                <div class="weui-panel__hd"></div>#}
{#                <div class="weui-panel__bd" ></div>#}
{#                <div class="weui-panel__ft" ></div>#}
{#            </div>#}
{#        </div>#}
        <div class="weui-tab__content" id="tab4">
            {% include 'wxchat/myinfo.html' %}
        </div>
{% endblock tabpanel %}
 {% block tabbar %}
        <a href="#tab1" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="icon iconfont icon-shouye2"></i>
            </div>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="https://weidian.com/?userid=408882159&share_id=408882159&wfr=wx&ifr=shopdetail&code=021xPwYe0TntQz1gCc0f0eZuYe0xPwYb&state=H5WXshare" class="weui-tabbar__noitem">
            <div class="weui-tabbar__icon">
              <i class="icon iconfont icon-buy5"></i>
            </div>
            <p class="weui-tabbar__label">商城</p>
        </a>
{#        <a href="https://shop65587717.taobao.com/?spm=a230r.7195193.1997079397.2.54Qxn6" class="weui-tabbar__noitem">#}
{#            <div class="weui-tabbar__icon">#}
{#              <i class="icon iconfont icon-jiaoyi"></i>#}
{#            </div>#}
{#            <p class="weui-tabbar__label">淘宝</p>#}
{#        </a>#}
        <a href="#tab4" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
              <i class="icon iconfont icon-wo2"></i>
            </div>
            <p class="weui-tabbar__label">我的</p>
        </a>
{% endblock tabbar %}
{% block bottomjs %}
    {{ block.super }}
    <script type="application/javascript">
    $(function(){
        setImageUrl();
        weui.tab('#tab',{
            defaultIndex: 0,
            onChange: function(index){

            }
        });

    });

    </script>
{% endblock bottomjs %}
