{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block extra %}
{% include 'shopping/include/jssdk.html' %}
<script>
 wx.ready(function () {

    $("#dog_walk").on('click',function(){
         wx.openLocation({
          latitude: 40.7094,
          longitude: 120.765,
          name: '宠物乐园',
          address: '东砬村(葫芦岛市龙港区双树乡东砬村)',
          scale: 13,
          infoUrl: ''
        });
    });

});
</script>
{% endblock extra %}
{% block tabpanel %}
        <div class="weui-tab__content" id="tab1">
            <div class="weui-panel weui-panel_access">
                <div class="swiper-container">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="weui-grids">
                  <a href="{% url 'foster-menu'  %}" class="weui-grid">
                    <div class="weui-grid__icon" >
                      <i class="icon iconfont icon-chongwujiyang"></i>
                    </div>
                    <p class="weui-grid__label">宠物寄养</p>
                  </a>
                  <a href="{% url 'hosting-know'  %}" class="weui-grid">
                    <div class="weui-grid__icon">
                     <i class="icon iconfont icon-youleyuan"></i>
                    </div>
                    <p class="weui-grid__label">宠物托管</p>
                  </a>
                  <a href="{% url 'bath-index' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-xizaomuyu"></i>
                    </div>
                    <p class="weui-grid__label">宠物洗浴</p>
                  </a>
                  <a href="{% url 'shopping-list' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-pets"></i>
                    </div>
                    <p class="weui-grid__label">联盟商城</p>
                  </a>
                  <a href="{% url 'dog-order' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-chongwu3"></i>
                    </div>
                    <p class="weui-grid__label">狗粮定制</p>
                  </a>
                  <a href="{% url 'pet-insurance' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-zengsong"></i>
                    </div>
                    <p class="weui-grid__label">宠物保险</p>
                  </a>
                  <a href="{% url 'dog-breed' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-hunyin"></i>
                    </div>
                    <p class="weui-grid__label">宠物相亲</p>
                  </a>
                  <a href="{% url 'dog-trade' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-jiaoyi4" ></i>
                    </div>
                    <p class="weui-grid__label">宠物交易</p>
                  </a>
                  <a href="#" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-hashiqi"></i>
                    </div>
                    <p class="weui-grid__label">宠物摄影</p>
                  </a>

                  <a href="{% url 'fresh-man' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-class" aria-hidden="true"></i>
                    </div>
                    <p class="weui-grid__label">新手课堂</p>
                  </a>
                  <a href="{% url 'recruit-index' %}" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-zhaopin" aria-hidden="true"></i>
                    </div>
                    <p class="weui-grid__label">招聘发布</p>
                  </a>
                  <a href="javascript:void(0);" id="dog_walk" class="weui-grid">
                    <div class="weui-grid__icon">
                      <i class="icon iconfont icon-weizhi" aria-hidden="true"></i>
                    </div>
                    <p class="weui-grid__label">乐园位置</p>
                  </a>
                </div>
            </div>
        </div>
        <div class="weui-tab__content" id="tab2">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd"></div>
                <div class="weui-panel__bd" ></div>
                <div class="weui-panel__ft" ></div>
            </div>
        </div>

        <div class="weui-tab__content" id="tab3">
            {% include 'wxchat/myinfo.html' %}
        </div>
{% endblock tabpanel %}
 {% block tabbar %}
        <a href="#tab1" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="icon iconfont icon-shouye2"></i>
            </div>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
              <i class="icon iconfont icon-buy5"></i>
            </div>
            <p class="weui-tabbar__label">微店</p>
        </a>

        <a href="#tab3" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
              <i class="icon iconfont icon-wo2"></i>
            </div>
            <p class="weui-tabbar__label">我的</p>
        </a>
{% endblock tabbar %}
{% block bottomjs %}
    {{ block.super }}
    <script type="application/javascript">

    $(function(){

        setImageUrl();

{#        type = sessionStorage.getItem('type');#}
{##}
{#        getDataList(type);#}

        defIndex = sessionStorage.getItem('index');

        if(defIndex == 1) defIndex=0;

        weui.tab('#tab',{
            defaultIndex: defIndex ==null?0:defIndex,
            onChange: function(index){
                console.log(index);
                sessionStorage.setItem('index',index);
                if(index == 1)
                {
                    window.location.href='https://weidian.com/?userid=408882159';
                }
                else if(index == 2){

                }
            }
        });

    });

    </script>
{% endblock bottomjs %}
