{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block swiper %}
{#        <div class="weui-flex" >#}
{#            <div class="weui-flex__item" style="text-align: center;padding-top: 10px;"><a href="{% url 'dog-loss-add' %}?next={{ request.get_full_path }}" class="weui-btn weui-btn_mini weui-btn_plain-primary">寻宠发布</a></div>#}
{#            <div class="weui-flex__item" style="text-align: center;padding-top: 10px;"><a href="{% url 'dog-owner-add' %}?next={{ request.get_full_path }}" class="weui-btn weui-btn_mini weui-btn_plain-primary" >寻主发布</a></div>#}
{#        </div>#}
{#  <video width="100%" height="240" src="http://video.hld.gov.cn/2018/2018.5.15公开日.mp4" autoplay="autoplay"  controls="" x5-playsinline="" playsinline="" webkit-playsinline="" poster="" preload="auto"></video>#}
{# <div class="swiper-container">#}
{#    <div class="swiper-wrapper">#}
{#    </div>#}
{#    <div class="swiper-pagination"></div>#}
{# </div>#}
{% endblock swiper %}
{% block tabpanel %}
        <div class="weui-tab__content" id="tab1">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                    <div class="weui-flex">
                            <div class="weui-flex__item"><span class="title">寻找宠物列表<span></div>
                            <div class="weui-flex__item"></div>
                            <div class="weui-flex__item"><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="fa fa-home fa-2x pink r" ></i></a></div>
                     </div>

                </div>
                <div class="weui-panel__bd" id="dogloss"></div>
                <div class="weui-panel__ft">
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" id="doglossmore" style="display: none">
                        <div class="weui-cell__bd">查看更多</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="weui-tab__content" id="tab2">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                     <div class="weui-flex">
                            <div class="weui-flex__item"><span class="title">寻找主人列表<span></div>
                            <div class="weui-flex__item"></div>
                            <div class="weui-flex__item"><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="fa fa-home fa-2x pink r" ></i></a></div>
                     </div>
                </div>
                <div class="weui-panel__bd" id="dogowner"></div>
                <div class="weui-panel__ft" >
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" id="dogownermore" style="display: none">
                        <div class="weui-cell__bd">查看更多</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
        </div>
{% endblock tabpanel %}
 {% block tabbar %}
        <a href="#tab1" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-paw" aria-hidden="true"></i>
            </div>
            <p class="weui-tabbar__label">寻宠物</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
               <i class="fa fa-male" aria-hidden="true"></i>
            </div>
            <p class="weui-tabbar__label">寻宠主</p>
        </a>

{% endblock tabbar %}
{% block add %}
      <div class="circle">
          <a href="{% url 'dog-loss-add' %}"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
      </div>
{% endblock add %}
{% block bottomjs %}

    {{ block.super }}
    <script type="application/javascript">
     nextUrl = '{% url 'dog-loss-list' %}';
     dogOwnerUrl = '{% url 'dog-owner-list' %}';

    var loading = weui.loading('加载中...');
     ///缓存滚动条位置
     $('.weui-tab__panel').scroll(function(){
            if($(this).scrollTop() !=0 ){
                sessionStorage.setItem('offsetTop',$(this).scrollTop());
            }
    });

    $(function(){
        //setImageUrl();

        defIndex = sessionStorage.getItem('tab');
        console.log('defindex='+ defIndex);
        weui.tab('#tab',{
            defaultIndex: defIndex ==null?0:defIndex,
            onChange: function(index){
                sessionStorage.setItem('tab',index);
            }
        });


        $('#doglossmore').on('click',function(){
            getDataList( nextUrl );
        });

        $('#dogownermore').on('click',function(){
            getDogOwnerList( dogOwnerUrl );
        });
        getDataList( nextUrl );
        getDogOwnerList(dogOwnerUrl);

    });
    function getDataList(url){
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'json',
          timeout: 5000,
          context: $('#dogloss'),
          success: function(data){
              nextUrl = data.next;
              console.log(nextUrl);
              appendItem(data.results);
              loading.hide();
              if(nextUrl !=null) {
                  $('#doglossmore').css('display','');
              }


              setScollPos();
          },
          error: function(xhr, type,error){
              console.log(type);
              loading.hide();
          }
        });
    }

    function appendItem(results){
        $.each(results,function(index,item){
            var img_url = item.thumb_url;
            if(img_url == null){
                img_url = "{% static 'wxchat/images/default_dog.png' %}";
            }
            var seximg = item.sex;

            if( seximg != null && seximg == '公') {
                seximg = '<i class="fa fa-mars male" aria-hidden="true"></i> ';
            }
            else{
                seximg = '<i class="fa fa-venus female" aria-hidden="true"></i> ';
            }

          lossitem =  '<a href="/wechat/doglossdetail/' + item.id + '" class="weui-media-box weui-media-box_appmsg">' +
                            '<div class="weui-media-box__hd"><img class="weui-media-box__thumb" src="' + img_url + '" ></div>'+
                            '<div class="weui-media-box__bd">' +
                               '<h4 class="weui-media-box__title">'+ seximg + item.typeid +'</h4>' +
                               '<ul class="weui-media-box__info">' +
								  '<li class="weui-media-box__info__meta">时间: ' + item.lostdate + '</li>' +
								'</ul>' +
                               '<p class="weui-media-box__desc">地点: '+ item.lostplace +'</p>'  +
                             '</div>' +
                        '</a>';
            $('#dogloss').append( lossitem );
        }) ;
    }

    function getDogOwnerList(url){
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'json',
          timeout: 5000,
          context: $('#dogowner'),
          success: function(data){
              dogOwnerUrl = data.next;
              appendDogOwnerItem(data.results);
              if( dogOwnerUrl != null )
              {
                  $('#dogownermore').css('display','');
              }
              setScollPos();
          },
          error: function(xhr, type,error){
              console.log(type);
          }
        });
    }

    function appendDogOwnerItem(results){
        $.each(results,function(index,item){
            var img_url = item.thumb_url;
            if(img_url == null){
                img_url = "{% static 'wxchat/images/default_dog.png' %}";
            }
          lossitem =  '<a  href="/wechat/dogownerdetail/' + item.id + '" class="weui-media-box weui-media-box_appmsg">' +
                            '<div class="weui-media-box__hd"><img class="weui-media-box__thumb" src="' + img_url + '" ></div>'+
                            '<div class="weui-media-box__bd">' +
                               '<h4 class="weui-media-box__title">品种:'+ item.typeid +'</h4>' +
                               '<ul class="weui-media-box__info">' +
								  '<li class="weui-media-box__info__meta">时间:' + item.finddate +'</li>' +
								'</ul>' +
                               '<p class="weui-media-box__desc">地点:'+ item.findplace +'</p>'  +
                             '</div>' +
                        '</a>';
            $('#dogowner').append( lossitem );
        }) ;
    }
    ////设置滚动条位置
    function setScollPos(){
        var _offset = sessionStorage.getItem("offsetTop");//获取滚动位置
        $('.weui-tab__panel').scrollTop(_offset);
    }



    </script>
{% endblock bottomjs %}
