{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block extra %}
{#    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>#}
    <script>
{#        wx.config({#}
{#            debug: false,#}
{#            appId: '{{ sign.appId }}',#}
{#            timestamp:'{{ sign.timestamp }}',#}
{#            nonceStr: '{{ sign.nonceStr }}',#}
{#            signature: '{{ sign.signature }}',#}
{#            jsApiList: [#}
{#                'chooseImage',#}
{#            ]#}
{#        });#}
{#        wx.ready(function () {#}
{#          document.querySelector('#id_picture').onclick = function () {#}
{#              alert('ddddd');#}
{#              wx.chooseImage({#}
{#                count: 1,#}
{#                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有#}
{#                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有#}
{#                success: function (res) {#}
{#                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片#}
{#                   // document.querySelector('#img').src = localIds[0];#}
{#                    alert(localIds);#}
{#                }#}
{#            });#}
{#          };#}
{#    });#}
     window.history.forward(1);
    </script>
{% endblock extra%}
{% block container %}
    <div class="weui-cells__title">寻宠登记表<span class="r"><a href="{% url 'dog-index' %}"><i class="fa fa-home fa-lg pink" aria-hidden="true"></i></a><span></div>
    <form action="" method="post" enctype="multipart/form-data" onsubmit="showing()">{% csrf_token %}
        <div class="weui-cells weui-cells_form" id="uploader">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">{{ form.dog_name.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.dog_name }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">{{ form.typeid.label }}:</label>
                </div>
                <div class="weui-cell__bd">
                    {{ form.typeid }}
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">{{ form.sex.label }}:</label>
                </div>
                <div class="weui-cell__bd">
                    {{ form.sex }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{ form.desc.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.desc }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">{{ form.picture.label }}:</label></div>
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                            <div class="weui-uploader__input-box">
                                {{ form.picture }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <div class="weui-cells__tips"></div>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{ form.lostplace.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.lostplace }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{ form.lostdate.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.lostdate }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{ form.ownername.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.ownername }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{ form.telephone.label }}:</label></div>
                <div class="weui-cell__bd">
                    {{ form.telephone }}
                </div>
            </div>
            <div class="weui-btn-area">
                <button type="submit" name="submit" class="weui-btn weui-btn_primary">提交</button>
            </div>
        </div>
    </form>

{% endblock container %}
{% block bottomjs %}
    {{ block.super }}
    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#id_lostdate' ,//指定元素
            type: 'datetime'
        });
    </script>
{% endblock bottomjs %}
