{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block container %}
<div class="weui-panel weui-panel_access bgcolor" >
    <div class="middle">
        <div class="height"></div>
        <div class="height">
            <a href="{% url 'dog-loss-add' %}?next={{ next }}" ><img  src="{% static 'wxchat/images/find_pet.png' %}"></a>
        </div>
        <div class="height">
        </div>
         <div class="height">
            <a href="{% url 'dog-owner-add' %}?next={{ next }}" ><img src="{% static 'wxchat/images/find_owner.png' %}"></a>
        </div>
         <div class="height">
        </div>
    </div>
</div>

{% endblock container %}

