{% extends 'wxchat/wxbase.html' %}{% load static %}{% load thumbnail %}
{% block container %}
<div class="weui-panel weui-panel_access">
   <div class="weui-panel__hd">
        <div class="weui-flex">
            <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">丢失宠物详细介绍</span></div>
            <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
        </div>
   </div>
    <div class="weui-panel__bd">
      {% if object.picture %}
         <div class="detail_header">
            <img src="{{ object.picture.url }}" >
             {% if object.result == 1 %}
                <span class="img_status">已经找到</span>
             {% endif %}
         </div>
      {% endif %}
       <div class="weui-form-preview">
       <div class="weui-form-preview__bd">
           <div class="weui-form-preview__item">
               <label class="weui-form-preview__label">宠物昵称 :</label>
               <span class="weui-form-preview__value"> {{ object.dog_name }}</span>
           </div>
           <div class="weui-form-preview__item">
               <label class="weui-form-preview__label">宠物品种 :</label>
               <span class="weui-form-preview__value">{{ object.typeid }}</span>
           </div>
           <div class="weui-form-preview__item">
               <label class="weui-form-preview__label">宠物性别 :</label>
               <span class="weui-form-preview__value">{{ object.sex }}</span>
           </div>
           <div class="weui-form-preview__item">
               <label class="weui-form-preview__label">宠物说明 :</label>
               <span class="weui-form-preview__value">{{ object.desc }}</span>
           </div>
            <div class="weui-form-preview__item">
               <label class="weui-form-preview__label">丢失地址 :</label>
               <span class="weui-form-preview__value">{{ object.lostplace }}</span>
           </div>
            <div class="weui-form-preview__item">
               <label class="weui-form-preview__label">丢失时间 :</label>
               <span class="weui-form-preview__value">{{ object.lostdate|date:'Y-m-d H:m'}}</span>
           </div>
            <div class="weui-form-preview__item">
               <label class="weui-form-preview__label">主人电话 :</label>
               <span class="weui-form-preview__value">{{ object.telephone }}</span>
           </div>

       </div>
    </div>
    </div>
</div>

{% endblock container %}

