{% extends 'wxchat/wxbase.html' %}{% load static %}{% load thumbnail %}
{% block container %}
    <div class="weui-panel weui-panel_access" id="switch" onclick="mySwitch()" style="display: block">
        <div class="weui-panel__hd">
            <div class="weui-flex">
                {#                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray "></i></a>#}
            </div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">大眼可乐</span></div>
        </div>

        <div class="weui-panel__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">大眼可乐1</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">大眼可乐2</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">大眼可乐3</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="weui-panel__hd" style="display: none" id="2" onclick="mySwitch1()">
        <div class="weui-flex">
            {#                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray "></i></a>#}
        </div>
        <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">问题2</span></div>


        <div class="weui-panel__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">答案2</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">答案2</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">答案2</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="3">
        <div class="weui-panel__hd">
            <div class="weui-flex">
                {#                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray "></i></a>#}
            </div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">问题3</span></div>
        </div>

        <div class="weui-panel__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">答案3</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">答案3</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">答案3</span>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <script language="javascript">
        function mySwitch() {
            document.getElementById('2').style.display = document.getElementById('2').style.display == 'none' ? 'block' : 'none';
            document.getElementById('switch').style.display = document.getElementById('switch').style.display == 'block' ? 'none' : 'none';
        }
        function mySwitch1() {
            document.getElementById('3').style.display = document.getElementById('3').style.display == 'none' ? 'block' : 'none';
            document.getElementById('2').style.display = document.getElementById('2').style.display == 'block' ? 'none' : 'none';
        }
    </script>

{% endblock container %}

