{% extends 'wxchat/wxbase.html' %}{% load static %}{% load thumbnail %}
{% block container %}
    <div class="weui-panel weui-panel_access" style="display: block" id="1">
        <div class="weui-panel__hd">
            <div class="weui-flex">
                {#                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray "></i></a>#}
            </div>
            <div class="weui-flex__item" style="text-align: center;" ><span class="detail_title">大眼可乐</span></div>
        </div>

        <div class="weui-panel__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value" id="dy" onclick="mySwitch()">大眼可乐1</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">大眼可乐2</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <span class="weui-form-preview__value">大眼可乐3</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="weui-panel__hd" style="display: none" id="2">
        <div class="weui-flex">
            {#                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray "></i></a>#}
        </div>
        <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">问题2</span></div>


        <div class="weui-panel__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <div class="weui-form-preview__value" id="dd1" onclick="mySwitch1()">答案2</div>
                    </div>
                    <div class="weui-form-preview__item">
                        <div class="weui-form-preview__value" id="dd2">答案3</div>
                    </div>
                    <div class="weui-form-preview__item">
                        <div class="weui-form-preview__value" id="dd3">答案2</div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="3">
        <div class="weui-panel__hd">
            <div class="weui-flex">
                {#                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray "></i></a>#}
            </div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">问题3</span></div>
        </div>

        <div class="weui-panel__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <div class="weui-form-preview__value" id="da" name="da" value="答案1">sss</div>
                    </div>
                    <div class="weui-form-preview__item">
                        <div class="weui-form-preview__value" id="da2" name="da2" value="答案2">rrrr</div>
                    </div>
                    <div class="weui-form-preview__item">
                        <div class="weui-form-preview__value" id="da3" name="da3" value="答案3">ttttt</div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <script language="javascript">
        function mySwitch() {

            document.getElementById('2').style.display = document.getElementById('2').style.display == 'none' ? 'block' : 'none';
            document.getElementById('1').style.display = document.getElementById('1').style.display == 'block' ? 'none' : 'none';
        }
        function mySwitch1() {

            document.getElementById('3').style.display = document.getElementById('3').style.display == 'none' ? 'block' : 'none';
            document.getElementById('2').style.display = document.getElementById('2').style.display == 'block' ? 'none' : 'none';
        }
    </script>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dy").click(function () {
                var b = document.getElementById('dy').innerHTML;
                alert(b)
                $.ajax({

                url:"{% url 'dog-order' %}",  //请求服务的地址

                type:"GET",  //数据发送的方式

                contentType:"application/jason; encode=utf-8",  // 发送的数据及data对应数据的类型，前者是POST方式，后者是GET方式

                data: {'b':b},

                success: function(ret_data){

                //ret_data是ajax发送成功后，后端服务器HttpResponse（）返回的数据

                }

                });
            });
        });
    </script>



{% endblock container %}

