{% extends 'wxchat/wxbase.html' %}{% load static %}

{% block extra %}
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <link rel="stylesheet" href="{% static 'wxchat/style/style_food.css' %}">
    <style>
    .cardBg{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
{#        overflow: hidden;#}
        z-index: 0;
        right: 0;
        margin: auto;
        max-width: 640px;
        background: url({% static 'wxchat/images/card_bg.png' %}) no-repeat;
{#        background-size: 100% auto;#}
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
    }

    .check_label{
        line-height: 48px;
        padding: 0; padding-left:75px;
        margin-bottom:20px;
    }
    .check_label:active{
         background-color: transparent;
    }
    </style>
{% endblock extra %}
{% block container %}
<div class="cardBg"></div>
<div class="weui-panel" style="height: 100%;margin-top: 0px;background-color: transparent;">
    <div class="weui-panel__hd">
        <div class="weui-flex">
            <div></div>
            <div class="weui-flex__item" style="text-align: center;"></div>
            <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
        </div>
    </div>
    <div class="weui-panel__bd" style="color: #3a1437;">
     <div style="height:75px;"></div>
        {% for order in orders %}
            {% if forloop.first == True %}
            <div id="sort_{{ order.sort }}" style="overflow: hidden;">
                <div class="weui-cells__title" style="margin-bottom: 2.8em;color: #3a1437;text-align: center;font-size: 30px;">{{ order.name }}</div>
                <div class="weui-cells weui-cells_radio" style="background-color: transparent;">
                    {% for s in order.dogstatustype.all %}
                    <label class="weui-cell weui-check__label check_label" for="id_{{s.id}}" >
                        <div class="weui-cell__bd" style="font-size: 18px;color: #3a1437;">
                            {{ s.name }}
                           <input type="radio" class="weui-check" name="radio_{{order.sort}}" id="id_{{s.id}}" value="{{ s.name }}">
                            <span class="weui-icon-checked"></span>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% elif not forloop.last and not forloop.first %}
                    <ul class="weui-form-li question" id="question_{{ forloop.counter }}">
                        {% if order.is_checkbox == 1 %}
                            <h1 class="f-green" style="margin-left: 10px;">{{ order.name }}</h1>
                            {% for s in order.dogstatustype.all %}
                                <input class="weui-form-checkbox" id="{{ s.id }}" type="checkbox" name="bones_status" value="{{ s.name }}">
                                <label for="{{ s.id }}">
                                    <i class="weui-icon-checkbox"></i>
                                    <div class="weui-form-text"><p style="font-size: 20px;">{{ s.name }}</p></div>
                                </label>
                            {% endfor %}
                            <a href="javascript:void(0);" class="previous_page weui_btns hide weui_btn_primary">上一页</a>
                            <a href="javascript:void(0);" class="previous_pages  weui_btns questions weui_btn_primary" id="questions_{{ forloop.counter }}">下一页</a>
                        {% else %}
                            <h1 class="f-green">{{ order.name }}</h1>
                            {% for s in order.dogstatustype.all %}
                                <li data-answer="{{ s.name }}">{{ s.name }}</li>
                            {% endfor %}
                            <a href="javascript:void(0);" class="previous_page hide weui_btns weui_btn_primary">上一页</a>
                        {% endif %}
                    </ul>

            {% else %}
                {% if forloop.last %}
                    <ul class="question" id="question_{{ i.id }}">
                        <h1 class="f-green">{{ order.name }}</h1>
                        {% for s in order.dogstatustype.all %}
                            <li data-answer="{{ s.name }}">{{ s.name }}</li>
                        {% endfor %}
                        <a href="javascript:void(0);" class="previous_page hide weui_btns weui_btn_primary">上一页</a>
                        <div class="weui-form">
                            <div class="weui-form-li">
                                <a href="javascript:" onclick="submitPage()"
                                   class="weui_btn weui_btn_primary submit">提交</a>
                            </div>
                        </div>
                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}



    </div>

    <script>
        $(function () {
            $(".question>li").on("click", function () {
                var len = 7;
                var idx = $(this).parent().attr("id");
                idx = idx.split('_')[1];
                var idx2 = idx * 1 + 1;
                $(this).addClass("answer").siblings("li").removeClass("answer");
                setTimeout(function () {
                    if (idx == len) {
                        return false;
                    } else {
                        $("#question_" + idx + "").hide();
                        $("#question_" + idx2 + "").show();
                    }
                }, 500)

            });
            $(".previous_page").on("click", function () {
                var idx = $(".question:visible").attr("id");
                idx = idx.split('_')[1];
                var idx2 = idx - 1;
                $("#question_" + idx + "").hide();
                $("#question_" + idx2 + "").show();
                if ($("#question_1").is(":visible")) {
                    $(this).hide();
                }
            });

            $(".previous_pages").on("click", function () {
                var idx = $(".questions:visible").attr("id");
                idx = idx.split('_')[1];
                var idx2 = parseInt(idx) + parseInt(1);
                $("#question_" + idx + "").hide();
                $("#question_" + idx2 + "").show();

            });
            $("#question_1>li").on("click", function () {
                setTimeout(function () {
                    $(".previous_page").show();
                }, 500)
            });
        });

        function submitPage() {
            var a = [];
            {#        a.push($(".question>li.answer").text())#}
            $(".question>li.answer").each(function () {
                var answers = $(this).data('answer');
                a.push(answers);
            });
            var chk_value = [];
            $('input[name="bones_status"]:checked').each(function () {
                chk_value.push($(this).val());
            });
            $.ajax({

                url: "{% url 'dog-order' %}",  //请求服务的地址

                type: "GET",  //数据发送的方式

                contentType: "application/jason; encode=utf-8",  // 发送的数据及data对应数据的类型，前者是POST方式，后者是GET方式

                data: {'alldata': JSON.stringify(a), 'aa': JSON.stringify(chk_value)},

                success: function (data) {
                    window.location.href = "{% url 'order-success'%}?peice=" + data['peice'] + '&skin_status=' + data['skin_status'] + '&eye_status=' + data['eye_status'] + '&dogtype=' + data['dogtype'] + '&dog_age=' + data['dog_age'] + '&body_status=' + data['body_status'] + '&bones_status=' + data['bones_status'] + '&dog_code=' + data['dog_code'];
                    //ret_data是ajax发送成功后，后端服务器HttpResponse（）返回的数据

                }

            });
        }
    </script>


{% endblock container %}
