{% extends 'wxchat/wxbase.html' %}{% load static %}{% load thumbnail %}
{% block container %}
        <div class="weui-panel weui-panel_access">
          <div class="weui-panel__hd">
              <div class="weui-flex">
                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
                <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">新手课堂详情</span></div>
                <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
              </div>
          </div>
        <div class="weui-panel__bd">
           <article class="weui-article">
               <h2 class="center">{{ object.title }}</h2>
               <section><span class="detail_author">{{ object.user.first_name }}</span><span class="detail_author">{{ object.create_time|date:'Y-m-d H:m'}}</span></section>
               <section>
                {{ object.prod_desc|safe }}
               </section>
           </article>
        </div>
    </div>

{% endblock container %}

