{% extends 'wxchat/wxbase.html' %}{% load static %}

{% block extra %}
      {% include 'shopping/include/jssdk.html' %}
{% endblock extra%}
{% block container %}
 <div class="weui-panel">
    <div class="weui-panel__hd header_bottom">
         <div class="weui-flex">
            <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
            <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">宠粮定制详情</span></div>
        </div>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;" id="wxaddress">
            <div class="weui-cell__bd" style="height: 60px;">
                <p>
                    <span id="username">收件人姓名及联系方式</span>
                    <span style="padding-left: 10px;" id="telnumber"></span>
                    <span id="postalcode" style="display:none"></span>
                </p>
                <p id="detailInfo">发货详细地址</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__hd">
                <p><i class="icon iconfont icon-shangcheng2" ></i> {{ project_name }}</p>
            </div>
        </div>
        {% for key,value in choice_list.items %}
            <div class="weui-cell">
                <div class="weui-cell__hd">{{ key }}</div>
                <div class="weui-cell__bd"><p>{{ value }}</p></div>
                <div class="weui-cell__ft"></div>
            </div>
            {% endfor %}
            <a  class="weui-btn weui-btn_primary" id="wxpay">去支付</a>
        </div>
    </div>
 </div>
    <script>

    wx.ready(function () {

        $('#wxpay').on('click',function(){
            var params ={
                dogorder: $("#dogorder").text(),
                peice: $('#peice').text(),

            };
           $.ajax({
              type: 'GET',
              url: '{% url "dog-pay-order" %}',
              dataType: 'json',
              data:params,
              timeout: 5000,
              success: function(data){
                  if(data.package !=undefined){
                      wxpay(data)
                  }
              },
              error: function(error){
                  console.log(error);
              }
            });
        });

});

function wxpay(data){
    wx.chooseWXPay({
          timestamp:data.timestamp,
          nonceStr: data.nonceStr,
          package:  data.package ,
          signType: data.signType,
          paySign:  data.paySign,
          success: function(res){
                // 支付成功后的回调函数
            if (res.errMsg == "chooseWXPay:ok") {
                //支付成功
                alert('支付成功');
                //window.location.replace();
                window.location.href = "{% url 'order-finish'%}?order_code="+$("#dogorder").text()
            } else {
                alert(res.errMsg);
            }
          },
           cancel: function(res) {
               console.log(res);
               alert('支付取消');
           }

    });
}

</script>

{% endblock container %}

