{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block container %}
<div class="weui-tab" id="tab">
    <div class="weui-tab__panel">
        <div class="weui-panel weui-panel_access">
       <div class="weui-panel__hd">
            <div class="weui-flex">
                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
                <div class="weui-flex__item" style="text-align: center;">
                    {% if object %}
                        <span class="detail_title">{{ object.title }}</span>
                    {% endif %}
                </div>
                <div ><a href="{% url 'shopping-list' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shangcheng10 pink r" ></i></a></div>
            </div>
       </div>
        <div class="weui-panel__bd">
           <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                   <div class="weui-form-preview__item">
                       <label class="weui-form-preview__value">
                            {% if object %}
                                {{ object.content|safe }}
                            {% endif %}
                       </label>
                   </div>
               </div>
            </div>
        </div>
    </div>
    </div>
    <div class="weui-tabbar">
         <a href="#" class="weui-tabbar__item tabbar_item ">
            <p class="weui-tabbar__label bg_red" style="font-size:18px;"><i class="icon iconfont icon-buy2" ></i> 预定</p>
        </a>
    </div>
</div>

{% endblock container %}

{% block bottomjs %}

    <script type="application/javascript">

    $(function(){


    });

    </script>
{% endblock bottomjs %}