{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}大眼可乐宠物联盟{% endblock %}</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    {% block css %}
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.css">
	<link rel="stylesheet" href="{% static 'wxchat/style/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'wxchat/style/iconfont/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'wxchat/style/index.css' %}?ver=201806723">
{#    <link rel="stylesheet" href="{% static 'wxchat/style/css/font-awesome.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'wxchat/style/laydate.css' %}" id="layuicss-laydate">

    {% endblock css %}
    {% block js %}
    <script type="text/javascript" src="{% static 'wxchat/js/weui.js' %}?ver=20180617"></script>
    <script type="text/javascript" src="{% static 'wxchat/js/zepto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wxchat/js/zepto.cookie.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'wxchat/js/fastclick.js' %}"></script>
    <script type="text/javascript" src="{% static 'wxchat/js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wxchat/js/jeDate.js' %}"></script>
    <script type="text/javascript" src="{% static 'wxchat/js/moment.js' %}"></script>
{#    <script>#}
{#          // 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器#}
{#        var useragent = navigator.userAgent;#}
{#        if(useragent.match(/WindowsWechat/) == 'WindowsWechat' || useragent.match(/MicroMessenger/i) != 'MicroMessenger') {#}
{#            window.location.href = "{% url 'wx-error' %}";#}
{#        }#}
{#     </script>#}
    {% endblock js %}
    {% block extra %}{% endblock extra%}
  </head>
  <body ontouchstart>

    {% block container %}

	<div class="weui-tab" id="tab">
    {% block tab %}
        <div class="weui-tab__panel">
        {% block swiper %}{% endblock swiper %}
        {% block tabpanel %}{% endblock tabpanel %}
        </div>
        <div class="weui-tabbar">
        {% block tabbar %}
        {% endblock tabbar %}
        </div>
    {% endblock tab %}
	</div>
    {% block add %}{% endblock add %}
    {% endblock container %}
  </body>
  {% block bottomjs %}

  <script src="{% static 'wxchat/js/wxchat.js' %}?ver=20180616"></script>

  {% endblock bottomjs %}
</html>
