<!DOCTYPE html>
<html><head>
    <title>抱歉，出错了</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,shrink-to-fit=no">
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.css">
  </head>
<body ontouchstart="">

<div class="weui-msg">
	<div class="weui-msg__icon-area">
		<i class="weui-icon-warn weui-icon_msg"></i>
	</div>
	<div class="weui-msg__text-area">
		<h2 class="weui-msg__title">请在微信客户端打开链接</h2>
		<p class="weui-msg__desc">抱歉，出错了</p>
	</div>
      <div class="weui-msg__extra-area">
        <div class="weui-footer">
          <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">辽宁浩天科技有限公司</a>
          </p>
            <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">大眼可乐宠物联盟</a>
          </p>
          <p class="weui-footer__text">Copyright © 2019</p>
        </div>
      </div>
</div>
</body>
</html>

