{% extends 'wxchat/wxbase.html' %}{% load static %}{% load thumbnail %}
{% block extra %}
    <style>
    .claim_content{
        padding-left:10px;
    }
    </style>
{% endblock extra %}
{% block container %}
<div class="weui-tab" id="tab">
    <div class="weui-tab__panel">
      <div class="weui-panel weui-panel_access">
       <div class="weui-panel__hd">
            <div class="weui-flex">
                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
                <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">托管须知</span></div>
                <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
            </div>
       </div>
        <div class="weui-panel__bd">
           <div class="weui-cells" style="margin-top: 0px;">
                <div class="weui-cell">
                    <div class="weui-cell__hd">1、</div>
                    <div class="weui-cell__bd"><p>托管政策针对犬只要求。</p></div>
                    <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div class="weui-cell__bd">
                        <p class="claim_content">(1)要求入园时必须携带犬只免疫证。</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div class="weui-cell__bd">
                        <p class="claim_content">(2)要求6月以上10岁以下犬只。</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div class="weui-cell__bd">
                        <p class="claim_content">(3)要求身体健康无病无残疾。</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div class="weui-cell__bd">
                        <p class="claim_content">(4)只接收大中型犬只入住,小型犬不予托管。</p>
                    </div>
                </div>
               <div class="weui-cell">
                    <div class="weui-cell__hd">2、</div>
                    <div class="weui-cell__bd"><p>托管时间计算</p></div>
                    <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div class="weui-cell__bd">
                        <p class="claim_content" style="color: red">(1)托管服务时间按月计算，每月1日到15日入园的按整月计算，15日以后入园的按半月计算。</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div class="weui-cell__bd">
                        <p class="claim_content">(2)托管日期为除法定节假日和休息日之外的日期，法定节假 日宠物主人应将宠物接回，不接走的需要提前购买寄养服务。</p>
                    </div>
                </div>
               <div class="weui-cell">
                    <div class="weui-cell__hd">3、</div>
                    <div class="weui-cell__bd"><p>托管条件</p></div>
                    <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"></div>
                    <div class="weui-cell__bd">
                        <p class="claim_content">托管宠物需要缴纳500元/只弃养保证金，弃养保证金用于宠物主人弃养宠物后处置宠物所需费用。</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="weui-tabbar">
         <a href="{% url 'hosting-pet-list' %}" class="weui-tabbar__item tabbar_item ">
            <p class="weui-tabbar__label bg_red" style="font-size:18px;"><i class="icon iconfont icon-buy2" ></i> 下一步</p>
        </a>
    </div>
</div>

{% endblock container %}