{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block swiper %}

{% endblock swiper %}
{% block tabpanel %}

        <div class="weui-tab__content weui-tab__panel_active" >
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                    <div class="weui-flex">
                            <div class="weui-flex__item"><span class="title">宠物食品列表</span></div>
                            <div class="weui-flex__item"></div>
                            <div class="weui-flex__item"><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shouye2 pink r" ></i></a></div>
                     </div>

                </div>
                <div class="weui-panel__bd" id="goods"></div>
                <div class="weui-panel__ft">
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" id="goodsmore" style="display: none">
                        <div class="weui-cell__bd">查看更多</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
        </div>
{% endblock tabpanel %}
 {% block tabbar %}
        <a href="#" class="weui-tabbar__item tabbar_item">
             <p class="weui-tabbar__label bg_black"><i class="icon iconfont icon-buy2" ></i> 我的购物车<span style="padding-left:10px;">¥0</span></p>
        </a>
         <a href="#" class="weui-tabbar__item tabbar_item">
            <p class="weui-tabbar__label bg_red"><i class="icon iconfont icon-jiaoyi3" ></i> 立即购买</p>
        </a>
{% endblock tabbar %}

{% block bottomjs %}

    {{ block.super }}
    <script type="application/javascript">
     nextUrl = '{% url 'goods-list' %}';


     ///缓存滚动条位置
     $('.weui-tab__panel').scroll(function(){
            if($(this).scrollTop() !=0 ){
                sessionStorage.setItem('offsetTop',$(this).scrollTop());
            }
    });

    $(function(){

        $('#goodsmore').on('click',function(){
            getGoodsList( nextUrl );
        });

        getGoodsList( nextUrl );

    });
    function getGoodsList(url){
        var loading = weui.loading('加载中...');
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'json',
          timeout: 5000,
          context: $('#goods'),
          success: function(data){
              nextUrl = data.next;
              console.log(nextUrl);
              appendItem(data.results);
              loading.hide();
              if(nextUrl !=null) {
                  $('#goodsmore').css('display','');
              }
              else
              {
                  $('#goodsmore').css('display','none');
              }
              setScollPos();
          },
          error: function(xhr, type,error){
              console.log(type);
              loading.hide();
          }
        });
    }

    function appendItem(results){
        $.each(results,function(index,item){
            var img_url = item.images;

            if(img_url == null){
                img_url = '<i class="icon iconfont icon-pet6  weui-media-box__thumb" ></i>';
            }
            else {
                img_url = '<img class="weui-media-box__thumb" src="' + img_url + '">'
            }


            newItem =  '<a href="' + item.get_absolute_url + '" class="weui-media-box weui-media-box_appmsg">' +
                            '<div class="weui-media-box__hd">' + img_url + '</div>'+
                            '<div class="weui-media-box__bd">' +
                               '<h4 class="weui-media-box__title">'+ item.name   +'</h4>' +
                               '<h4 class="weui-media-box__title color_red"> ¥ '+ item.price   +'</h4>' +
                               '<ul class="weui-media-box__info sub_title">' +
								  '<li class="weui-media-box__info__meta">适用: ' + item.type + '</li>' +
								  '<li class="weui-media-box__info__meta">季节: ' + item.season + '</li>' +
								  '<li class="weui-media-box__info__meta">功能: ' + item.func_type + '</li>' +
								'</ul>' +
                             '</div>' +
                        '</a>';
            $('#goods').append( newItem );
        }) ;
    }

    ////设置滚动条位置
    function setScollPos(){
        var _offset = sessionStorage.getItem("offsetTop");//获取滚动位置
        $('.weui-tab__panel').scrollTop(_offset);
    }

    </script>
{% endblock bottomjs %}
