{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block extra %}
<script>

</script>
{% endblock extra %}
{% block tab %}
    <form action="#" method="get" enctype="multipart/form-data" >{% csrf_token %}
    <div class="weui-tab" id="tab">
        <div class="weui-tab__content weui-tab__panel_active" >
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                    <div class="weui-flex">
                        <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
                        <div class="weui-flex__item" style="text-align: center;"><span class="detail_title">购物车</span></div>
                     </div>
                </div>
                <div class="weui-panel__bd">
                    <div class="weui-cell weui-cell_access">
                        <div class="weui-cell__hd">
                            <p><i class="icon iconfont icon-shangcheng2" ></i> {{ project_name }}</p>
                        </div>
                    </div>
                    {% for cart in carts_list %}
                    <div class="weui-media-box weui-media-box_appmsg" style="background-color: #fafafa">
{#                            <input type="hidden" id="goods_id" value="{{ cart.goods.id }}">#}
{#                            <div class="weui-cells_checkbox">#}
{#								 <input type="checkbox" name="checkbox1" class="weui-check" id="s12"><i class="weui-icon-checked"></i>#}
{#							</div>#}
                            <div class="weui-cells_checkbox" >
                              <label class="weui-check__label" for="id-{{ cart.goods.id }}" >
                                  <input type="checkbox" class="weui-check" name="checkid" id="id-{{ cart.goods.id }}" >
                                  <i class="weui-icon-checked"></i>
                              </label>
                            </div>
                            {% if cart.goods.images %}
							<div class="weui-media-box__hd">

								 <img class="weui-media-box__thumb" src="{{ cart.goods.images.url }}" alt="">
							</div>
                            {% else %}
                            <div class="weui-media-box__hd">
                                 <i class="icon iconfont icon-pets  weui-media-box__thumb" ></i>
							</div>
                            {% endif %}
							<div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">{{ cart.goods.name }}</h4>
                                <ul class="weui-media-box__info ">
                                    <li class="weui-media-box__info__meta sub_title">¥ {{ cart.price }}</li>
                                    <li class="weui-media-box__info__meta r" style="color: #977a7a;" id="goodsnums">
                                        x{{ cart.quantity }}
                                    </li>
                                </ul>
                                <p class="weui-media-box__desc sub_title" style="padding-top:5px;font-size:16px;">
                                    <span >
                                        <input type="button" id="minus" class="input_length" value="-" >
                                        <input type="number" id="nums" value="{{ cart.quantity }}" min="1" max="{{ cart.goods.stock_nums }}" class="input_length" />
                                        <input type="button" id="add" class="input_length" value="+" >
                                    </span>
                                    <span class="r"><i class="icon iconfont icon-delete2 color_red" style="font-weight: bold" ></i></span>
                                </p>
							</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="#" class="weui-tabbar__item tabbar_item">
             <p class="weui-tabbar__label bg_black"><i class="icon iconfont icon-buy2" ></i> 我的购物车<span style="padding-left:10px;">¥0</span></p>
        </a>
         <a href="#" class="weui-tabbar__item tabbar_item" id="wxpay">
            <p class="weui-tabbar__label bg_red"><i class="icon iconfont icon-jiaoyi3" ></i> 提交订单</p>
        </a>
    </div>
    </form>
{% endblock tab %}
{% block bottomjs %}

    {{ block.super }}
    <script type="application/javascript">

    $(function(){

        var num = $('#nums').val();
        if(num == 1){
                $('#minus').attr('disabled', true);
        }

        $('#add').on('click',function(){
            num = $('#nums').val();
            num++;
            if( num > 1 )
                $('#minus').removeAttr('disabled');

            $('#nums').val(num);
            $('#goodsnums').text('x'+num);
        });

        $('#minus').on('click',function(){
            num = $('#nums').val();
            num--;
            if(num == 1){
                $('#minus').attr('disabled', true);
            }
             $('#nums').val(num);
             $('#goodsnums').text('x'+num);
        });

        $('#nums').on('input',function(event){
            num = event.target.value;
            $('#goodsnums').text('x'+event.target.value);
        })

    });

    </script>
{% endblock bottomjs %}
