{% extends 'wxchat/wxbase.html' %}{% load static %}
{% block extra %}
    <link rel="stylesheet" href="{% static 'css/foster.css' %}">
    <script type="text/javascript">
    </script>
{% endblock extra %}

{% block container %}
<div class="weui-tab" id="tab">
    <div class="weui-tab__panel">
      <div class="weui-panel weui-panel_access">
       <div class="weui-panel__hd">
            <div class="weui-flex">
                <div><a href="javascript:window.history.back(-1)"><i class="icon iconfont icon-jiantou3 gray " ></i></a></div>
                <div class="weui-flex__item" style="text-align: center;"><span class="detail_title"> 洗浴确认码</span></div>
                <div ><a href="{% url 'dog-index' %}?next={{ request.get_full_path }}"><i class="icon iconfont icon-shangcheng10 pink r" ></i></a></div>
            </div>
       </div>
        <div class="weui-panel__bd">
            <div class="weui-cells  cells_top">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p style="text-align: center"><img src="{% url "bath-qrcode" %}?orderid={{ orderid }}" img="280" height="280" alt=""></p>
                    </div>
                </div>
                 <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p style="text-align: center">宠物洗浴确认码，需提供给商家扫码确认</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock container %}

{% block bottomjs %}
    {{ block.super }}
    <script>
    $(function(){})
    </script>
{% endblock bottomjs %}